---
title: проект
description: это мой сайт-портфолио, на котором я демонстрирую свои профессиоальные навыки
---

<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>

<div id="my-page">
	{% include header.html %}
		
	{% include mypage/mainpage.html %}

	{% include footer.html %}
</div>
	<!-- Плагины js -->
	<script src="libs/owl-carousel/owl.carousel.min.js"> </script>
	<script src="libs/popup/jquery.magnific-popup.min.js"> </script>
	<script src="assets/js/common.js"></script>
</body>
</html>
