<header class="header">
  <div class="header__shadow"></div>
  <div class="container">
    <p class="header__linetxt"><span>AMST </span>ЧАСЫ, КОТОРЫЕ ВЫБИРАЮТ СИЛЬНЫЕ МУЖЧИНЫ</p>
  </div>
  <p class="header__hit">Хит Продаж!</p>

</header>
<div class="content-center">
  <div class="center-main">
    <div class="content-center-imgbox">
      <img src="assets/img/clock.png" alt="" class="content-center__clock">
      <div class="content-center__percent">
        <p>-72%</p>
      </div>
    </div>
    <div class="content-center-main">
      <p class="content-center__price"><span>3 535k idr</span> 990k IDr</p>
      <div class="content-center-timer">
        <div class="timer">
          <div class="timer-circle">
            <img src="assets/img/cerc1.png" alt="">
            <span>Часы</span>
          </div>
          <div class="timer-circle">
            <img src="assets/img/cerc2.png" alt="">
            <span>Минуты</span>
          </div>
          <div class="timer-circle">
            <img src="assets/img/cerc3.png" alt="">
            <span>Секунды</span>
          </div>
        </div>
      </div>
      <div class="content-center-btn">
        <a href="#/" class="content__btn">Заказать</a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="content-left">
          <div class="content-specials">
            <img src="assets/img/Icon_1.png" alt="СТЕКЛО С САПФИРОВЫМ ПОКРЫТИЕМ">
            <p>СТЕКЛО С САПФИРОВЫМ ПОКРЫТИЕМ</p>
          </div>
          <div class="content-specials">
            <img src="assets/img/Icon_2.png" alt="ПРОТИВОУДАРНЫЕ И НАДЕЖНЫЕ">
            <p>ПРОТИВОУДАРНЫЕ И НАДЕЖНЫЕ</p>
          </div>
          <div class="content-specials">
            <img src="assets/img/Icon_3.png" alt="ВОДОНЕПРОНИЦИЕМЫЙ КОРПУС">
            <p>ВОДОНЕПРОНИЦИЕМЫЙ КОРПУС</p>
          </div>
          <div class="content-rewards">
            <img src="assets/img/30_giorni.png" alt="">
            <img src="assets/img/100.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xl-5 col-center">

      </div>
      <div class="col-xl-4 col-md-6">
        <div class="content-right">
          <div class="content-right-top">
            <img class="icon-stars" src="assets/img/stars.png" alt="">
            <p class="content-reting__txt"><span>средний рейтинг</span>среди наших покупателей</p>
            <div class="content-center-btn">
              <a href="#/" class="content__btn content__btn--invers">Читать отзывы</a>
            </div>
          </div>

          <div class="content-right-bottom">
            <p class="content-right-bottom__txt"><span>Доставка</span>Оплата</p>
            <div class="content-right-bottom-item">
              <img src="assets/img/icon_4.png" alt="">
              <p>Оставьте заявку и мы
                вам перезвоним.</p>
            </div>
            <div class="content-right-bottom-item">
              <img src="assets/img/icon_5.png" alt="">
              <p>Оплата при получении.</p>
            </div>
            <div class="content-right-bottom-item">
              <img src="assets/img/icon_6.png" alt="">
              <p>Доставка в течении
                3-4 дней.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>